{% extends 'base.html' %}

{% block title %}
Create a new post
{% endblock %}

{% block content %}
<!-- Create Post Form Template - used for testing -->
<h1>Create a post</h1>

<form action="" method="POST">
  <label for="title">Title</label>
  <input name="title" id="title" >
  <label for="content">Content</label>
  <textarea name="content" id="content" >
  <button formaction="" formmethod="POST">Add</button>
  <button formaction="/users/{{ user_id }}">Cancel</button>
</form>
{% endblock %}