{% extends 'base.html' %}

{% block title %}
Create a user
{% endblock %}

{% block content %}
<!-- Create User Form Template - used for testing -->
<h1>Create a user</h1>

<form action="" method="POST">
  <label for="first_name">First Name</label>
  <input name="first_name" id="first_name" placeholder="Enter a first name">
  <label for="last_name">Last Name</label>
  <input name="last_name" id="last_name" placeholder="Enter a last name">
  <label for="image_url">Image Url</label>
  <input name="image_url" id="image_url" placeholder="Provide an image of this user">
  <button type="submit">Add</button>
</form>
{% endblock %}