{% extends 'base.html' %}

{% block title %}
Edit a user
{% endblock %}

{% block content %}
<!-- Edit User Form Template - used in testing -->
<h1>Edit {{ user.first_name }} {{ user.last_name }}</h1>
<!-- Link button instead of form -->



<form action="" method="POST">
  <label for="first_name">First Name</label>
  <input name="first_name" id="first_name" value="{{ user.first_name }}">
  <label for="last_name">Last Name</label>
  <input name="last_name" id="last_name" value="{{ user.last_name }}">
  <label for="image_url">Image Url</label>
  <input name="image_url" id="image_url" value="{{ user.image_url }}">
  <button type="submit">Save</button>
</form>

<button formaction="/users/{{ user.id }}">Cancel</button>

{% endblock %}