{% extends 'base.html' %}

{% block title %}
User Detail
{% endblock %}

{% block content %}
<!-- User Detail Template - used in testing -->
<!-- TODO:  formaction and formmethod in button, insert alt, conditional logic for photo-->
<div>
  <h1>{{ user.first_name }} {{ user.last_name }}</h1>
  <img src="{{ user.image_url }}" alt="">
  <form action="/users/{{ user.id }}/edit">
    <button>Edit</button>
  </form>
  <form action="/users/{{ user.id }}/delete" method="POST">
    <button>Delete</button>
  </form>
</div>

{% endblock %}